# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_name = "Resources/schools_complete.csv"
student_name = "Resources/students_complete.csv"

In [2]:
# Read School  Data File into Pandas Data Frames
school_name_df = pd.read_csv(school_name)

# check column of schools data
school_name_df.columns

# Rename colunms in schools dataset
school_name = school_name_df.rename(columns= {'name': 'School', 'type' : 'Type','size': 'Size', 'budget': 'Budget'})
school_name.head()

   School ID            school_name      Type  Size   Budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Read Student Data File into Pandas Data Frames
student_name_df = pd.read_csv(student_name)

# check column of student data
student_name_df.columns

# Rename colunms in schools dataset
student_name = student_name_df.rename(columns = {'name' :'student','gender':'Gender', 'grade':'Grade',
                                       'school': 'School', 'reading_score': 'Reading_Score', 'math_score': 'Math_Score'})

student_name.head()

,Student ID,student_name,Gender,Grade,school_name,Reading_Score,Math_Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Merge school and student dataframes
#school
#students
complete_data = pd.merge(school_name, student_name, on="school_name")

complete_data.head()

,School ID,school_name,Type,Size,Budget,Student ID,student_name,Gender,Grade,Reading_Score,Math_Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# Find the total schools, students and budget from school dataframe
Total_school_name = complete_data["school_name"].nunique()
Total_student_name = complete_data["Student ID"].nunique()
Total_Budget = school_name["Budget"].sum()

In [6]:
# Find average Math and Reading score
avg_math_score = complete_data["Math_Score"].mean()
avg_reading_score = complete_data["Reading_Score"].mean()

In [7]:
# Calcualte the total count of passing Math, reading and overall passing count
count_passing_math = complete_data[complete_data["Math_Score"] >70].count()["school_name"]
count_passing_reading = complete_data[complete_data["Reading_Score"] >70].count()["school_name"]                                                                        
overall_passing_count = complete_data[(complete_data["Math_Score"] > 70) & (complete_data["Reading_Score"] > 70)].count()["school_name"]

In [8]:
# Calculate Percentage passing  Math / Reading and overll passing both
percent_passing_math = (count_passing_math / Total_student_name) * 100
percent_passing_reading = (count_passing_reading / Total_student_name) * 100
percent_passing_both = (overall_passing_count / Total_student_name) * 100

In [9]:
# District Summary Table
District_Summary = pd.DataFrame({"Total school_name":[Total_school_name], "Total student_name": [Total_student_name],
                                "Total Budget": [Total_Budget], "Average Math Score" : [avg_math_score],
                                "Average Reading Score" : [avg_reading_score], "% Passing Math" : percent_passing_math,
                                "% Passing Reading" : percent_passing_reading, "Overall Passing Rate" : percent_passing_both})

In [10]:
District_Summary_df = District_Summary[["Total school_name", "Total student_name", "Total Budget", "Average Math Score",
                                    "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

District_Summary_df.head()

,Total school_name,Total student_name,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,72.392137,82.971662,60.801634

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [11]:
# Determine the school type
school_name_types = school_name.set_index(["school_name"])["Type"]

In [12]:
# Calculate total student count per school
per_school_counts = complete_data["school_name"].value_counts()

In [13]:
# Calculate per school and per student budget
per_school_budget = complete_data.groupby(["school_name"]).mean()["Budget"]
per_student_budget = per_school_budget/ per_school_counts

In [14]:
# calculate average math and reading scores
avg_math_score = complete_data.groupby(["school_name"]).mean()["Math_Score"]
avg_reading_score = complete_data.groupby(["school_name"]).mean()["Reading_Score"]

In [15]:
# Count of school passing Math and Reading
school_passing_math = complete_data[complete_data["Math_Score"] > 70].groupby("school_name").count()["student_name"]
school_passing_reading =  complete_data[complete_data["Reading_Score"] > 70].groupby("school_name").count()["student_name"]

In [16]:
# Calculate percent passing Math / Reading and Overall passing rate
percent_passing_math = school_passing_math / per_school_counts * 100
percent_passing_reading = school_passing_reading / per_school_counts * 100
overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

In [17]:
# Convert to data frame
school_wise_Summary_df = pd.DataFrame({"school_name Type":school_name_types, "Total student_name":per_school_counts,
                               "Total school_name Budget":per_school_budget, "Per student_name Budget":per_student_budget,
                                "Average Math Score":avg_math_score, "Average Reading Score":avg_reading_score,
                                 "% Passing Math":percent_passing_math, "% Passing Reading":percent_passing_reading,
                                 "Overall Passing Rate":overall_passing_rate})

In [18]:
# Data munging
school_wise_Summary_df = school_wise_Summary_df[["school_name Type","Total student_name","Total school_name Budget","Per student_name Budget",
                                "Average Math Score","Average Reading Score","% Passing Math","% Passing Reading",
                                 "Overall Passing Rate"]]

In [19]:
school_wise_Summary_df["Total school_name Budget"] = school_wise_Summary_df["Total school_name Budget"].map("${:,.2f}".format)
school_wise_Summary_df["Per student_name Budget"] = school_wise_Summary_df["Per student_name Budget"].map("${:,.2f}".format)

# Display the data frame
school_wise_Summary_df.head()

,school_name Type,Total student_name,Total school_name Budget,Per student_name Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,64.630225,79.300643,71.965434
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,65.753925,77.510040,71.631982
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,89.713896,93.392371,91.553134

* Sort and display the top five schools in overall passing rate

## Top Performing Schools (By Passing Rate)

In [20]:

# Top 5 performing schools(By passing rates)
Top_school_name = school_wise_Summary_df.sort_values(["Overall Passing Rate"], ascending = False)
Top_school_name.head(5)

,school_name Type,Total student_name,Total school_name Budget,Per student_name Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,90.932983,93.254490,92.093736
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,91.683992,92.203742,91.943867
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,90.277778,93.444444,91.861111
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,89.558665,93.864370,91.711518
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,90.632319,92.740047,91.686183

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [21]:

# Bottom 5 performing schools(By passing rates)
Bottom_school_name = school_wise_Summary_df.sort_values(["Overall Passing Rate"], ascending = True)
Bottom_school_name.head(5)

,school_name Type,Total student_name,Total school_name Budget,Per student_name Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,64.746494,78.187702,71.467098

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [22]:
# Calculate math score by grade
nineth_grade_score =  complete_data[complete_data["Grade"] == "9th"].groupby("school_name").mean()["Math_Score"]

In [23]:
tenth_grade_score =  complete_data[complete_data["Grade"] == "10th"].groupby("school_name").mean()["Math_Score"]

In [24]:
eleventh_grade_score =  complete_data[complete_data["Grade"] == "11th"].groupby("school_name").mean()["Math_Score"]

In [25]:
twelveth_grade_score =  complete_data[complete_data["Grade"] == "12th"].groupby("school_name").mean()["Math_Score"]

In [26]:
# Math score by grade in table form
math_score_by_grade_df = pd.DataFrame({"9th":nineth_grade_score, "10th":tenth_grade_score,
                               "11th":eleventh_grade_score,"12th":twelveth_grade_score})

In [27]:
# Data munging
Math_Score_by_Grade = math_score_by_grade_df[["9th", "10th", "11th", "12th"]]
Math_Score_by_Grade.index.name = None

In [28]:
# Display the data frame
Math_Score_by_Grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [29]:
# Reading score by grade
nineth_grade_score =  complete_data[complete_data["Grade"] == "9th"].groupby("school_name").mean()["Reading_Score"]

In [30]:
tenth_grade_score =  complete_data[complete_data["Grade"] == "10th"].groupby("school_name").mean()["Reading_Score"]

In [31]:
eleventh_grade_score =  complete_data[complete_data["Grade"] == "11th"].groupby("school_name").mean()["Reading_Score"]

In [32]:
twelveth_grade_score =  complete_data[complete_data["Grade"] == "12th"].groupby("school_name").mean()["Reading_Score"]

In [33]:
# Reading score by grade in table form
reading_score_by_grade_df = pd.DataFrame({"9th":nineth_grade_score, "10th":tenth_grade_score,
                               "11th":eleventh_grade_score,"12th":twelveth_grade_score})

In [34]:
# Data munging
Reading_Score_by_Grade = reading_score_by_grade_df[["9th", "10th", "11th", "12th"]]
Reading_Score_by_Grade.index.name = None

In [35]:
# Display the data frame
Reading_Score_by_Grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
# Scores by school spending
spending_bins = [0, 585, 615, 645, 675]
spending_ranges = ["<585", "585-615", "615-645", "645-675"]

In [37]:
# Categorize spending based on spending bins
school_wise_Summary_df["Spending Ranges (Per Student)"] = pd.cut(per_student_budget, spending_bins, labels = spending_ranges)

In [38]:
spending_math_score = school_wise_Summary_df.groupby(["Spending Ranges (Per Student)"]).mean()['Average Math Score']

In [39]:
Spending_reading_score = school_wise_Summary_df.groupby(["Spending Ranges (Per Student)"]).mean()['Average Reading Score']

In [40]:
spending_passing_math =  school_wise_Summary_df.groupby(["Spending Ranges (Per Student)"]).mean()['% Passing Math']

In [41]:
spending_passing_reading =  school_wise_Summary_df.groupby(["Spending Ranges (Per Student)"]).mean()['% Passing Reading']

In [42]:
overall_passing_rate =  (spending_math_score + Spending_reading_score) / 2

In [43]:
# Scores by School Spending in table form
Spending_Score = pd.DataFrame({"Average Math Score":spending_math_score, "Average Reading Score":Spending_reading_score,
                               "% Passing Math":spending_passing_math,"% Passing Reading":spending_passing_reading,
                                    "Overall Passing Rate":overall_passing_rate})

In [44]:
# Data munging
Spending_Score = Spending_Score[["Average Math Score", "Average Reading Score",
                               "% Passing Math","% Passing Reading","Overall Passing Rate"]]

In [45]:
# Display the data frame
Spending_Score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<585,83.455399,83.933814,90.350436,93.325838,83.694607
585-615,83.599686,83.885211,90.788049,92.410786,83.742449
615-645,79.079225,81.891436,73.021426,83.214343,80.485330
645-675,76.997210,81.027843,63.972368,78.427809,79.012526

## Scores by School Size

* Perform the same operations as above, based on school size.

In [46]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]

In [47]:
size_ranges = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [48]:
school_wise_Summary_df["school_name Size"] = pd.cut(school_wise_Summary_df["Total student_name"], size_bins, labels = size_ranges)

In [49]:
avg_math_score = school_wise_Summary_df.groupby(["school_name Size"]).mean()['Average Math Score']

In [50]:
avg_reading_score = school_wise_Summary_df.groupby(["school_name Size"]).mean()['Average Reading Score']

In [51]:
percent_passing_math =  school_wise_Summary_df.groupby(["school_name Size"]).mean()['% Passing Math']

In [52]:
percent_passing_reading =  school_wise_Summary_df.groupby(["school_name Size"]).mean()['% Passing Reading']

In [53]:
overall_passing_rate = school_wise_Summary_df.groupby(["school_name Size"]).mean()['Overall Passing Rate']

In [54]:
# Scores by School Size in table form
Size_Score = pd.DataFrame({"Average Math Score":avg_math_score, "Average Reading Score":avg_reading_score,
                               "% Passing Math":percent_passing_math,"% Passing Reading":percent_passing_reading,
                                    "Overall Passing Rate":overall_passing_rate})

In [55]:
# Data munging
Size_Score = Size_Score[["Average Math Score", "Average Reading Score",
                               "% Passing Math","% Passing Reading","Overall Passing Rate"]]

In [56]:
# Display the data frame
Size_Score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name Size,,,,,
Small (<1000),83.821598,83.929843,91.158155,92.471895,91.815025
Medium (1000-2000),83.374684,83.864438,89.931303,93.244843,91.588073
Large (2000-5000),77.746417,81.344493,67.631335,80.190800,73.911067

## Scores by School Type

* Perform the same operations as above, based on school type.

In [58]:
avg_math_score = school_wise_Summary_df.groupby(["school_name Type"]).mean()['Average Math Score']

In [59]:
avg_reading_score = school_wise_Summary_df.groupby(["school_name Type"]).mean()['Average Reading Score']

In [62]:
percent_passing_math =  school_wise_Summary_df.groupby(["school_name Type"]).mean()['% Passing Math']

In [63]:
percent_passing_reading =  school_wise_Summary_df.groupby(["school_name Type"]).mean()['% Passing Reading']

In [64]:
overall_passing_rate = school_wise_Summary_df.groupby(["school_name Type"]).mean()['Overall Passing Rate']

In [65]:
# Scores by School Type in table form
Type_Score = pd.DataFrame({"Average Math Score":avg_math_score, "Average Reading Score":avg_reading_score,
                               "% Passing Math":percent_passing_math,"% Passing Reading":percent_passing_reading,
                                    "Overall Passing Rate":overall_passing_rate})

In [66]:
# Data munging
Type_Score = Type_Score[["Average Math Score", "Average Reading Score",
                               "% Passing Math","% Passing Reading","Overall Passing Rate"]]

In [67]:
# Display the data frame
Type_Score

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name Type,,,,,
Charter,83.473852,83.896421,90.363226,93.052812,91.708019
District,76.956733,80.966636,64.302528,78.324559,71.313543